{{template config_path="design/email/header_template"}}
<!--@subject {{var subject}} @-->

<div style="display:block;width:100%;table-layout:fixed;font-size:13px;line-height:1.4;background:#135A30; text-align: center">
    <div style="padding:10px 15px;display:inline-block;text-align: left">
        <div style="padding:10px 15px;display:inline-block;">
            <div style="width:100px;padding:0;vertical-align:middle">
                <a
                    href="https://acceptcoin.io"
                    style="display:inline-block;vertical-align:middle;color:#333"
                    target="_blank"
                >
                    <img
                        height="32"
                        src="https://acceptcoin.io/assets/images/logo-white.png"
                        style="display:inline-block;vertical-align:middle;border:none"
                        alt="Acceptcoin"
                    >
                </a>
            </div>
        </div>

        <div
            style="table-layout:fixed;margin:0;padding:35px 15px;background:#fff;font-size:13px;color:#333333;line-height:1.5;">
            <p style="margin:0 0 10px">
                Hello {{var name}} {{var lastname}}
            </p>
            <p>
                Want to complete your payment for {{var amount}} {{var currency}}?
            </p>
            <p>
                To finish up, go back to {{var storeName}} payment page or use the button below.
            </p>

            <p style="width:fit-content;margin:0 auto 10px;padding:20px">
                <a style="text-decoration:none;background-color:#016E3B;width:fit-content;border-radius:5px;padding:17px 80px;color:#fff"
                   href="{{var link}}" target="_blank">
                    Pay
                </a>
            </p>
            <p>
                We appreciate you choosing us!
            </p>
            <div>
                If you have any questions, please contact acceptcoin.io administration or write to us.
            </div>
        </div>
    </div>
</div>

{{template config_path="design/email/footer_template"}}
